html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #333;
}

/* トップページ */
.bingo-start-btn { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem 2rem;
  text-decoration: none;
}

/* メインページ */
.app {
  & {
    position: relative;
    width: 100%;
    height: 100%;
  }

  > .bingo-roulette {
    width: 100%;
    height: 100%;
  }

  > .next-button {
    position: absolute;
    top: 0;
    right: 5%;

    width: 10%;
    margin-top: 5%;
  }

  > .app-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

/* ルーレット */
.bingo-roulette {
  & {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  > .container {
    position: relative;

    width: 100%;
    height: 100%;
  }

  > .container > .roulette {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: none;
  }

  > .container > .roulette,
  > .container > .roulette img,
  > .container > .roulette > .roulette-inner {
    height: 100%;
  }

  > .container > .staff-id,
  > .container > .staff-name {
    position: absolute;
    display: none;
    padding: .8rem 2rem;

    color: #333;
    background-color: skyblue;
  }

  > .container > .staff-id {
    top: 0;
    left: 0;

    font-size: 7rem;
  }

  > .container > .staff-name {
    bottom: 0;
    right: 0;

    font-size: 6rem;
  }
}

.next-button {
  display: none;
  cursor: default;

  > img {
    width: 100%;
  }

  > .text {
    color: #fff;
  }
}
